<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow"/>
  </configSections>
  
  
  <specFlow>
    <language feature="en-US" tool=""/>
    <bindingCulture name="en-Us"/>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><unitTestProvider name="NUnit"/>
    <generator allowDebugGeneratedFiles="false" allowRowTests="true"/>
    <runtime detectAmbiguousMatches="true" stopAtFirstError="false" missingOrPendingStepsOutcome="Inconclusive"/>
    <trace traceSuccessfulSteps="false" traceTimings="false" minTracedDuration="0:0:0.1" listener="TechTalk.SpecFlow.Tracing.DefaultListener, TechTalk.SpecFlow"/>
    <stepAssemblies>
      <!-- <stepAssembly assembly="{name-of-assembly-containing-bindgins}" /> -->
    </stepAssemblies>
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --></specFlow>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
